﻿@model PassionProject.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorLName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId }) |
    @Html.ActionLink("Back to List", "List")
</p>
