﻿@model PassionProject.Models.ViewModel.BlogEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/Blog/Edit/@Model.blog.BlogId">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.blog.BlogTitle" id="BlogTitle" name="BlogTitle" />
    </div>
    <div class="inptrow">
        <label class="inplabel">Author</label>
        <select id="BlogAuthor" name="BlogAuthor">
            @foreach (var author in Model.authors)
            {
                <option value="@author.AuthorId"
                        @if (author.AuthorId == Model.blog.author.AuthorId) { var selected = "selected"; @selected ; }>
                    @author.AuthorFName @author.AuthorLName
                </option>
            }
        </select>
    </div>
    <div class="inprow">
        <div class="inplabel">Description</div>
        <textarea id="BlogDesc" name="BlogDesc">@Model.blog.BlogDescription</textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>


